{% extends 'cms/cms_base.html' %}

{% load thumbnail %}

{% block right-content %}
<div id="clients">
    {% for client in clients %}
        {% if forloop.counter0|divisibleby:"4" %}<div class="row thumbnails">{% endif %}
            <div class="span2 thumbnail">
                <img src="{{ client.logo|thumbnail_url:'logo_big' }}" title="{{ client.name }}" alt="{{ client.name }}" />
            </div>
        {% if forloop.last or forloop.counter|divisibleby:"4" %}</div>{% endif %}
    {% endfor %}
</div>
{% endblock %}