{% extends 'base.html' %}

{% block additional-styles %}
    <link rel="stylesheet/less" href="{{ STATIC_URL }}cms/css/cms.less" type="text/css" />
{% endblock%}

{% block content %}
<div id="cms_base" class="container">
    <div class="row">
        <div class="span2">
            <h1 id="logo">FVPRESTA</h1>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <!-- Left menu -->
            {% include 'cms/_left_menu.html' %}
            <!-- /Left menu -->
        </div>
        <div class="span10">
            <!-- Right content -->
            {% block right-content %}{% endblock %}
            <!-- /Right content -->
        </div>
    </div>
</div>
{% endblock %}

